<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="index.css" />
  
  <title>Document</title>
</head>

<body>
  <header>
    <div class="logo_div">
      <div class="logo_sub">
        <div class="logo_img">
          <img class="logo" src="../../Assets/Ac logo2.png" />
        </div>
        <div class="logo_name_div">
          <p class="logo_name">Archipanion</p>
        </div>
      </div>
    </div>
    <div class="nav_div">
      <ul class="navbar-ul">
        <li><a class="navb b1">Home</a></li>
        <li><a class="navb b2" href="../Tool_Recommender_page/tool.html" >Tool Recommender</a></li>
        <li><a class="navb b3">News</a></li>
        <li><a class="navb b4">AI</a></li>

        <li><a class="navb b5">Daily Challenge</a></li>

        <li><a class="navb b6">Community</a></li>

        <li><button class="navb b7">Sign up</button></li>
      </ul>
    </div>
  </header>

  <div class="container-1">
    <div class="tagline">
      <p class="line-1">Introducing</p>
      <br>

      <p class="line-2">ARCHIPANION</p>
      <br>
      <br>

      <p class="line-3">Empowering Architects to be future-proof<br>Lorem ipsum dolor sit amet consectetur</p>
      <br>
      <br>
      <br>

      <input type="text" class="email_input" placeholder="Email id" />
      <button class="email_button">Submit</button>
    </div>

    <div class="container-img">
      <img src="../../Assets/Ac logo2.png" class="archi_img">
    </div>
  </div>

  <div class="running-container">
    <div class="running-content">
      <p>Running Content</p>
    </div>
  </div>
  <h3>Be Updated</h3>
  <div></div>
  <div></div>
  <div></div>
  <div>

  </div>


  <div class="container-2">

    <img src="../../Assets/Arrow left.png" class="arrow left">


    <div class="frame">

      <div class="slider">
        <div class="containers">

          <div class="img-div"><img src="../../Assets/Logo.jpg" class="image"></div>
          <div class="content-class">
            <p class="p1">1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur amet harum quod hic
              temporibus dhm fugiat iure
              adipisci nihil vitae laudantium, aperiam consequatur!
              <br>
              <br>
              <button>Learn More</button>
            </p>
          </div>

        </div>

        <div class="containers">

          <div class="img-div"><img src="../../Assets/Logo.jpg" class="image"></div>
          <div class="content-class">
            <p class="p1">1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur amet harum quod hic
              temporibus dhm fugiat iure
              adipisci nihil vitae laudantium, aperiam consequatur!
              <br>
              <br>
              <button>Learn More</button>
            </p>
          </div>

        </div>

        <div class="containers">

          <div class="img-div"><img src="../../Assets/Logo.jpg" class="image"></div>
          <div class="content-class">
            <p class="p1">1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur amet harum quod hic
              temporibus dhm fugiat iure
              adipisci nihil vitae laudantium, aperiam consequatur!
              <br>
              <br>
              <button>Learn More</button>
            </p>
          </div>

        </div>


        <div class="containers">

          <div class="img-div"><img src="../../Assets/Logo.jpg" class="image"></div>
          <div class="content-class">
            <p class="p1">1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur amet harum quod hic
              temporibus dhm fugiat iure
              adipisci nihil vitae laudantium, aperiam consequatur!
              <br>
              <br>
              <button>Learn More</button>
            </p>
          </div>

        </div>




        

        
      </div>
    </div>
  <img src="../../Assets/Arrow left.png" class="arrow right">

  </div>

  <script src="../../Controller/Container2.js"></script>

 <h1 class="c3_title" >How does Archipanion work?</h1>
  <div class="timeline">
    
    <div class="outer">
      <div class="card">
        <div class="info">
          <h3 class="title">Title 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Title 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Title 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Title 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
      <div class="card">
        <div class="info">
          <h3 class="title">Title 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
      </div>
    </div>
  </div>



</body>

</html>