<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="tool.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Intelligent Tool Recommendation System</h1>
  </header>

  <div class="Section-1">
    <div class="user_input">
      <input type="text" class="chat_ip" placeholder="Enter Your Question">
      <input type="submit" class="submit">
    </div>
  </div>
 
</body>
</html>